.scroll {
  background: #ededed;
}

.speaker-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.speaker-card ion-card-header {
  padding: 0;
}

.speaker-card ion-card-header .item {
  padding: 4px 16px;
}

.speaker-card ion-card-content {
  flex: 1 1 auto;

  padding: 0;
}

.list-md {
  padding: 0px !important;
}

.speaker-card[_ngcontent-c2] ion-card-content[_ngcontent-c2] {
  flex: 0 0 auto;
}

.sc-ion-card-md-h {
  margin-bottom:0px !important;
}

.red, .red > a {
  background-color: #fe5050!important;
}

.green, .green > a {
  background-color: #43dd58!important;
}